@using WebApplication2.Models
@using PagedList.Mvc;
@model PagedList.PagedList<WebApplication2.Models.SANPHAM>

@helper Truncate(string input, int length)
{
    if (input != null)
    {
        if (input.Length < length)
        {
            @input
        }
        else
        {
            @input.Substring(0, length)<text>...</text>

        }
    }

}

@{
    ViewBag.Title = "Sanpham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>QUẢN LÍ THÔNG TIN SẢN PHẨM</h2>

<p>
    @Html.ActionLink("THÊM MỚI", "Themmoisp")
</p>
<table class="table tbleAdmin" border="1" style="width:100%;">
    <tr>
        <th >
            Tên sản phẩm
        </th>
        <th >
            Giá bán
        </th>
        <th ">
            Mô tả
        </th>
        <th >
            Ảnh bìa
        </th>
        <th style="width:10%">
            Ngày cập nhật
        </th>
        <th>
            Số lượng tồn
        </th>
        <th>
            Số lượng bán
        </th>
        <th>
            Tên loại
        </th>
        <th>
            Tên thương hiệu
        </th>
        <th style="width:10%"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                @String.Format("{0:0,0}", item.Giaban) VNĐ
            </td>
            <td>
                @Truncate(item.Mota, 100)
            </td>
            <td>
                <div class="imgAdmin">
                    @foreach (ANHPHU anhphu in ViewData["anhbia"] as IList<ANHPHU>)
                    {
                        if (anhphu.MaSP == item.MaSP)
                        {
                    <div class="imgsub">
                        <img src="@Url.Content("~/img/Anhphu/" + anhphu.LinkAnh)" />
                    </div>
                        }
                    }
                </div>

            </td>
            <td>
                @String.Format("{0:dd/MM/yyyy}", item.Ngaycapnhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongton)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soluongban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOAISANPHAM.TenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THUONGHIEU.TenThuongHieu)
            </td>

            <td>
                <div class="cbEdit">
                    @Html.ActionLink("Sửa", "Suasp", new { id = item.MaSP })
                    @Html.ActionLink("Chi tiết", "Chitietsp", new { id = item.MaSP })
                    @Html.ActionLink("Xóa", "Xoasp", new { id = item.MaSP })
                    @Html.ActionLink("Quản lí ảnh", "Quanlianh", new { id = item.MaSP })
                </div>
            </td>
        </tr>
    }

</table>
@*Tạo liên kết các trang*@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Sanpham", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>